@charset 'utf-8';

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    color: #54636e;
    font-family: 'Meiryo', 'Meiryo UI', 'Yu Gothic', 'YuGothic', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.start-area {
    height: 36px;
    margin-bottom: 12px;
    min-width: 684px;
}

.title {
    font-size: 24px;
    line-height: 1.5;
    float: left;
    width: 20%;
    min-width: 120px;
    text-align: center;
}

.start-control-wrapper {
    margin-top: 6px;
    width: 50%;
    float: left;
}

.start-control {
    margin: auto;
    width: 322px;
    overflow: hidden;
}

.start-control > li {
    float: left;
}

.start-key {
    font-size: 12px;
    width: 240px;
    height: 26px;
}

.start {
    height: 24px;
    width: 80px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #585555;
}

.start.enabled {
    cursor: pointer;
    background-color: #fff;
    color: #353333;
}

.start.enabled:hover {
    background-color: #e8f4fa;
}

.start.disabled {
    background-color: #d7d8db;
    color: #afadad;
}

#app-area {
    position: relative;
    width: 100%;
}

.message-area {
    position: absolute;
    width: 100%;
    z-index: 10;
    display: none;
}

.message-content {
    margin: auto;
    margin-top: 6px;
    max-width: 640px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    padding: 6px;
    text-align: center;
    cursor: pointer;
}

.drone-video-empty {
    position: relative;
    margin: auto;
    line-height: 1;
    text-align: center;
    background-color: #d7d8db;
    color: #afadad;
}

.drone-video-area {
    position: relative;
    margin: auto;
}

.drone-control-area {
    width: 100%;
}

.drone-control-area.wide {
    position: absolute;
    z-index: 10;
    bottom: 24px;
    height: 120px;
}

.control {
    overflow: hidden;
    margin: auto;
    max-width: 540px;
    min-width: 270px;
}

.move-container {
    position: relative;
    width: 120px;
    height: 120px;
    margin-right: 32px;
    border: 2px dotted rgba(255, 255, 255, 0.603);
    border-radius: 50%;
}

.move1-container {
    float: left;
}

.move2-container {
    float: right;
}

.move1 {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 1px solid #353333;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
    background: rgba(255, 255, 255, 0.9);
}

.move2 {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 1px solid #353333;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
    writing-mode: vertical-rl;
    background: rgba(255, 255, 255, 0.8);
}

.move2-r {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 1px solid #353333;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.8);
}

.drone-control-area.enabled .move1,
.drone-control-area.enabled .move2,
.drone-control-area.enabled .move2-r {
    cursor: pointer;
}

.drone-control-area.disabled .move1,
.drone-control-area.disabled .move2,
.drone-control-area.disabled .move2-r {
    cursor: default;
    background-color: #d7d8db;
}

.drone-control-area.enabled .move1:hover,
.drone-control-area.enabled .move2:hover,
.drone-control-area.enabled .move2-r:hover {
    background-color: #e8f4fa;
}

.move-top {
    top: 6px;
    left: 42px;
}

.move-right {
    top: 42px;
    right: 6px;
}

.move-bottom {
    top: 78px;
    left: 42px;
}

.move-left {
    top: 42px;
    left: 6px;
}

.move2-r span {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('/rotate.png');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    margin: 4px 4px;
}

.move2.move-top {
    text-orientation: sideways;
}

.move2-r.move-left {
    transform: scale(-1, 1);
}

.clear {
    clear: both;
}
