@charset 'utf-8';

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#startArea {
    height: 36px;
    margin-bottom: 12px;
    min-width: 684px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#title {
    font-size: 24px;
    left: 0;
    line-height: 1.5;
    padding-left: 24px;
    position: absolute;
    width: 264px;
}

.startControl {
    margin: auto;
    margin-top: 6px;
    width: 360px;
}

.startControl > li {
    float: left;
}

.startControl button {
    width: 60px;
}

input[name="startKey"] {
    width: 240px;
    height: 26px;
}

#start {
    height: 24px;
    width: 80px;
    line-height: 24px;
    margin-top: 1px;
    text-align: center;
    border: 1px solid #585555;
}

#start.enabled {
    cursor: pointer;
    background-color: #fff;
    color: #353333;
}

#start.enabled:hover {
    background-color: #e8f4fa;
}

#start.disabled {
    background-color: #d7d8db;
    color: #afadad;
}

#appArea {
    position: relative;
    width: 100%;
}

#messageArea {
    position: absolute;
    width: 100%;
    z-index: 10;
    display: none;
}

#messageContent {
    margin: auto;
    margin-top: 6px;
    max-width: 640px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    padding: 6px;
    text-align: center;
    cursor: pointer;
}

#droneVideoEmpty {
    position: relative;
    margin: auto;
    line-height: 1;
    text-align: center;
    background-color: #d7d8db;
    color: #afadad;
}

#droneVideoArea {
    position: relative;
    margin: auto;
}

#droneControlArea {
    width: 100%;
}

#droneControlArea.wide {
    position: absolute;
    z-index: 10;
    bottom: 24px;
    height: 120px;
}

.control {
    overflow: hidden;
    margin: auto;
    max-width: 540px;
    min-width: 270px;
}

.moveContainer {
    position: relative;
    width: 120px;
    height: 120px;
    margin-right: 32px;
    border: 2px dotted rgba(255, 255, 255, 0.603);
    border-radius: 50%;
}

.move1Container {
    float: left;
}

.move2Container {
    float: right;
}

.move1 {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 1px solid #353333;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
    background: rgba(255, 255, 255, 0.9);
}

.move2 {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 1px solid #353333;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
    writing-mode: vertical-rl;
    background: rgba(255, 255, 255, 0.8);
}

.move2-r {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 1px solid #353333;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.8);
}

#droneControlArea.enabled .move1,
#droneControlArea.enabled .move2,
#droneControlArea.enabled .move2-r {
    cursor: pointer;
}

#droneControlArea.disabled .move1,
#droneControlArea.disabled .move2,
#droneControlArea.disabled .move2-r {
    cursor: default;
    background-color: #d7d8db;
}

#droneControlArea.enabled .move1:hover,
#droneControlArea.enabled .move2:hover,
#droneControlArea.enabled .move2-r:hover {
    background-color: #e8f4fa;
}

#moveForward,
#moveUp {
    top: 6px;
    left: 42px;
}

#moveRight,
#turnRight {
    top: 42px;
    right: 6px;
}

#moveBackward,
#moveDown {
    top: 78px;
    left: 42px;
}

#moveLeft,
#turnLeft {
    top: 42px;
    left: 6px;
}

.move2-r span {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('/rotate.png');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    margin: 4px 4px;
}

#moveUp {
    text-orientation: sideways;
}

#turnLeft {
    transform: scale(-1, 1);
}

.clear {
    clear: both;
}
