.main-section {
    margin: auto;
    position: relative;

    &__message-area {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 10;
    }
    
    &__message-content {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 3px;
        cursor: pointer;
        margin: auto;
        margin-top: 6px;
        max-width: 640px;
        padding: 6px;
        text-align: center;
    }
    
    &__video-empty {
        background-color: #6d6b6b;
        margin: auto;
        position: relative;
    }
    
    &__video-empty-msg {
        color: #9ea0a0;
        left: 50%;
        margin: 0;
        margin-right: -50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__joystick-area {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 100;
    }
    
    &__joysticks {
        margin: auto;
        margin-bottom: 12px;
        overflow: hidden;
        width: 80%;
    }
    
    &__joystick-container {
        float: left;
        width: 50%;
    }
    
    &__joystick-ui {
        display: block;
        height: 200px;
        margin: auto;
        width: 200px;
    }
}



